.animated-grid {
  height: 85vh;
  display: grid;
  grid-gap: 1rem;

  grid-template-areas:
    "a    b   c   d"
    "l    *   *   e"
    "k    *   *   f"
    "j    i   h   g";

  grid-template-rows: repeat(4, 25%);
  grid-template-columns: 240px auto auto 240px;

  --stagger-delay: 100ms;
}

.animated-grid:nth-child(){

}
.animated-grid:nth-child(){

}
.animated-grid:nth-child(){

}
.animated-grid:nth-child(){

}
.animated-grid:nth-child(){

}
.animated-grid:nth-child(){

}
.animated-grid:nth-child(){

}
.animated-grid:nth-child(){

}
.animated-grid:nth-child(){

}
.animated-grid:nth-child(){

}
.animated-grid:nth-child(){

}
.animated-grid:nth-child(){

}
.animated-grid:nth-child(){

}